# Redis configuration
redis_password=

# Internal API configuration
core_platform_api_url=
core_platform_api_key=

# Telegram Auth token
telegram_webhook_secret=
# telegram_bot_token=
# telegram_bot_identifier=
